<div class="layui-container">
    <div class="layui-row">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li><a href="/status/server/">当前状态</a></li>
                <li class="layui-this"><a href="/status/server/history/1/">历史记录</a></li>
            </ul>
            <div class="layui-tab-content" style="padding-left: 0; padding-right: 0;padding-top: 0">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Objects}}
                            <tr>
                                <td>{{.Time}}</td>
                                <td>
                                    {{ if compare .State 0 }}<span class="layui-badge layui-bg-orange">启动</span>{{ end }} {{ if compare .State 1 }}<span class="layui-badge layui-bg-green">工作</span>{{ end }} {{ if compare .State 2 }}
                                    <span class="layui-badge layui-bg-red">停止</span>{{ end }}
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>