<div class="layui-container">
    <div class="layui-row">
        <div class="site-block" style="margin-top: 15px">
            {{ if .HasError }}
            <blockquote class="layui-elem-quote" style="border-left: 5px solid #FF5722">{{ .Error }}</blockquote>
            {{ end }}
            <form class="layui-form layui-form-pane" action="/config/client/" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="addr" value="{{.Addr}}" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">别名</label>
                    <div class="layui-input-block">
                        <input type="text" name="alias" value="{{.Alias}}" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                        <a class="layui-btn layui-btn-danger" href="/config/client/">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>