<div class="layui-header header header-doc">
    <div class="layui-container">
        <div>
            <a class="logo" href="/"><img src="/static/img/logo.ico" style="width: 32px; height: 32px"><i style="margin-left: 10px; color: #c2c2c2; font-style: normal">IPSEC监控系统</i></a>
            <ul class="layui-nav">
                <li class="layui-nav-item {{ if .MainPage }}layui-this{{ end }}"><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;主页</a></li>
                <li class="layui-nav-item {{ if .StatusPage }}layui-this{{ end }}">
                    <a href="javascript:;"><i class="fa fa-area-chart fa-fw" aria-hidden="true"></i>&nbsp;状态</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/status/server/">服务端</a></dd>
                        <dd><a href="/status/client/">客户端</a></dd>
                        <dd><a href="/status/vpn/">VPN</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item {{ if .SystemPage }}layui-this{{ end }}">
                    <a href="javascript:;"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp;系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/services/">服务</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item {{ if .ConfigPage }}layui-this{{ end }}">
                    <a href="javascript:;"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;配置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/config/client/">客户端</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
{{ if .ServiceNeedRestart }}
<div style="height: 28px; background-color: #FEEFB3">
    <div style="text-align: center; padding-top: 4px; padding-bottom: 4px"><a href="/services/" style="color: #9F6000; font-size: small">系统服务需要重启</a></div>
</div>
{{ end }}