<div class="layui-container">
    <div class="layui-row">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this"><a href="/status/client/status/">状态</a></li>
                <li><a href="/status/client/history/">历史记录</a></li>
            </ul>
            <div class="layui-tab-content" style="padding-left: 0; padding-right: 0;padding-top: 0">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>别名</th>
                                <th>地址</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Objects}}
                            <tr>
                                <td>{{.Time}}</td>
                                <td>{{.Alias}}</td>
                                <td>{{.Addr}}</td>
                                <td>
                                    {{ if compare .State 1}}
                                    <span class="layui-badge layui-bg-green">{{.DisplayState}}</span> {{ else if compare .State 2}}
                                    <span class="layui-badge">{{.DisplayState}}</span> {{ else if compare .State 3}}
                                    <span class="layui-badge layui-bg-orange">{{.DisplayState}}</span> {{ else }}
                                    <span class="layui-badge layui-bg-gray">{{.DisplayState}}</span> {{ end }}
                                </td>
                                <td>
                                    <a href="/config/client/{{.Id}}/edit" class="layui-btn layui-btn-mini layui-btn-danger">编辑</a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>